<!-- composition  -->
<!-- here we are passing menu items array and list item template reference from the page where menu is to be created. -->
<!-- <ul id="ul_list">
  <ng-container *ngFor="let item of items">
    <ng-container *ngTemplateOutlet="template; context: { $implicit: item }">
    </ng-container>
  </ng-container>
</ul> -->
<ul nz-menu nzTheme="dark" nzMode="horizontal">
  <ng-container *ngFor="let item of items">
    <li
      nz-menu-item
      nzMatchRouter
      nzMatchRouterExact
      [routerLink]="item.routerLink"
    >
      {{ item.title }}
    </li>
  </ng-container>
</ul>
