.layout {
  min-height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.inner-content {
  margin: 0 auto;
  // background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer {
  text-align: center;
}
