<!-- <app-navbar [templateContent]="navbarTemplate">
  <ng-template #navbarTemplate>
    <app-logo></app-logo>
    <app-menu-list [items]="menuItems" [template]="listItemTemplate">
      <ng-template #listItemTemplate let-item>
        <app-menu-list-item [item]="item"></app-menu-list-item>
      </ng-template>
    </app-menu-list>
  </ng-template>
</app-navbar> -->

<nz-layout class="layout">
  <nz-header class="header">
    <!-- <div nz-row> -->
    <!-- <div nz-col nzSpan="12"> -->
    <app-logo></app-logo>
    <app-menu-list [items]="menuItems"> </app-menu-list>
    <!-- </div> -->
    <!-- <div nz-col nzSpan="12"> -->
    <div class="spacer"></div>
    <app-menu-list [items]="rightMenus"> </app-menu-list>
    <!-- </div> -->
    <!-- </div> -->
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
